<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<false/>
			<key>UseSystemIO</key>
			<true/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0</string>
		<key>Debug</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>-1</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>BusSpeedkHz</key>
		<integer>100000</integer>
		<key>FrequencyMHz</key>
		<integer>2600</integer>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Key</key>
				<string>AAPL,GfxYTile</string>
				<key>Value</key>
				<data>
				AQAAAA==
				</data>
			</dict>
		</array>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Time Machine</string>
			<string>BOOTX64.EFI</string>
			<string>Windows</string>
			<string>Recovery HD</string>
		</array>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>OSXLoginStyle</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>ig-platform-id</key>
		<string>0x191b0000</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelHaswellE</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 - fcvo</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gflSqgAAdSk=
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				gflSqgAAZpA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>5GPatch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QYP8/3QsSA==
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				ZscGVVPrKw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Airpot-Extreme</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				axAAAHUN
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				axAAAJCQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Skylake AppleAPIC Patch(c)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				wegQD7bw
				</data>
				<key>Name</key>
				<string>AppleAPIC</string>
				<key>Replace</key>
				<data>
				vhcAAACQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext (100-series) 10.12</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g710////EA==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g710////Gw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Handoff</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIX/dEdIiwc=
				</data>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>
				Qb4PAAAA60Q=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#14</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				DwAASMHpDGap/w8P
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				DwAASMHpCWap/w8P
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#16&amp;17&amp;18&amp;19</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				tsFECcCJwYHJABAAAEWE0g9EyImPPgEA
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				tsHB4AmQkJCQkJCQRAnARAnQiYc+AQA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#20&amp;21&amp;22&amp;23</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEE5TMnr5HVOB+mmeHIKS8+CkpFCxsGSjVQ55RGF7HPy
				MLRAEenCdlw9ABkXy+TC79wzkECAIfgaReSm28x6CQ==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				AMJYAvbk8/5BhFjxfdTbqbQ3/1ltxsGSjVQ55RGF7HPy
				MLRAEenCdlwmCld+AkentTJyBbhSN24VAkP5CMx6CQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#04</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SI2G/w8AAEjB6AwPtw+B4Q==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				SI2G/w8AAEjB6AkPtw+B4Q==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#12&amp;13</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				TYnXugAQAABFMclIid7oAAAAAE2J+kyLfdBJi4dgAQAA
				TIls2PhJgcUAEAAASYHE
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				TYnXugACAABFMclIid7oAAAAAE2J+kyLfdBJi4dgAQAA
				TIls2PhJgcUAAgAASYHE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#01</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hfZ0YUHB5wxJY/++IAAAAA==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				hfZ0YUHB5wlJY/++IAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#24 - 51</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BIIBAEnKT7RtSMZmBUXJYiljxJJFkczm2pfZ5IPg1G+c
				QK7aL5iJtDi/MS7xRfQh4/Cs1uRhuguFiFsVa7a/sXvh
				r5/UrH6i3DeDuzcrF2X81s+YC/0IEX26bgq/WJnS69bV
				cqu0JAIr0Gzx4RQ8M4k4WpsrPKhSQlqe2bJnkpbmYV/D
				pcBTrXJTrq9GtTe4565lM8Nn60z90dTC7lJr3M5AWT4Z
				L1N0yj/fdzcr1F2oLSkjs3Fs95hGsJlRJ8k6R1i41gNm
				8YmAjVaUqpRqPI4dCtIuu60VT9WOeyRNla7HlfgurT0v
				WeAVbGI1rlNGXJ4fPe+wHrxjs1bG0ZOusIF8d5IAAAAA
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				BIIBAFjhf2OXh9C5pDLqAaMZOl8QQ8KDZNVIa9drFKiw
				vp8Zb1rrYOwRVgvIxJyL5wFhpAKV9CIY9usXBrgiYGah
				XiaBmWcaDnMAlLu2THdDzI4h3XN/02Dk9uL8RupUJJjh
				q4dJcZncs8Kd07co2Nml5nvrGUXV9jHJ2EgBMIm2OxjR
				uuApt0AWauSZ/dgXT1rlc4YcyYXCBRPCUqpm7C7Pcz20
				2/io08M99B4aZvAcUzUv5e54pjCrZrtMFrz2Oh8hQZbF
				M0vXVKBXLEGAN9hmHe3o51sapwyyHikUZ827nlT+y4zH
				nWAMc0v7r6R4uQ1+8iaMwaf3gBjIlY8K2tFHkjMAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#15</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QYP4B3dtRIpVEEQP
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				QYP4B3dtRA+2VRBEDw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#07&amp;08&amp;09</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				DwAAScHuDEmLTQBIictIgeP/DwAAD5XAD7bARAHwg/gC
				D4W4AAAATI2hABAAAEyJ4EglAPD//0mJjyIBAABJiYcq
				AQAAQb4AEAAASSneSI0=
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				DwAAScHuCUmLTQBIictIgeP/DwAAD5XAD7bARAHwg/gC
				D4W4AAAATI2hAAIAAEyJ4EglAPD//0mJjyIBAABJiYcq
				AQAAQb4AAgAASSneSI0=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#11</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AABJKdS4ABAAAE2L
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				AABJKdS4AAIAAE2L
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#02&amp;03</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AAAAg/kMdVhBx4akAAAAABAAAEg=
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				AAAAg/kJdVhBx4akAAAAAAIAAEg=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>NVMe SSD IONameMatch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PHN0cmluZz5wY2kxNDRkLGE4MDQ8L3N0cmluZz4=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				PHN0cmluZz5wY2kxNDRkLGE4MDI8L3N0cmluZz4=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#05&amp;06</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIHm/w8AAEgB1kiB/v8PAAB3PEg=
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				SIHm/wEAAEgB1kiB/v8BAAB3PEg=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#10</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hyoBAAC6ABAAAEgp
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				hyoBAAC6AAIAAEgp
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>02/15/16</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP114.88Z.0172.B09.1602151732</string>
		<key>Board-ID</key>
		<string>Mac-06F11F11946D27C5</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>08</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Memory</key>
		<dict>
			<key>Channels</key>
			<integer>0</integer>
		</dict>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>MacBookPro11,5</string>
		<key>SerialNumber</key>
		<string>C02PQ3YLHFG7</string>
		<key>Trust</key>
		<false/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NvidiaWeb</key>
		<true/>
	</dict>
</dict>
</plist>
